.ija{
    font-size: 100px;
}

.uja{
    font-size: 100px;

}

.nmes{
    display: flex;
    justify-content: space-evenly;
}


body{
    background-color: lightpink;
}

.forma{
    width: 90px;
    height: 90px;
    background-color: red;
    border: 4px solid red;
    border-radius: 80%;
    margin-top: -300px;
    margin-left: 550px;
    
}

.forma2{
    width: 90px;
    height: 90px;
    background-color: red;
    border: 4px solid red;
    border-radius: 80%;
    margin-top: -100px;
    margin-left: 640px;
    
}

.forma3{
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 110px solid red;
    margin-left: 554px;
    margin-top: -28px;
    
}